{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="w-full bg-black text-white">

    <div class="flex flex-col md:flex-row md:justify-between md:items-center px-4 py-3">

        <div class="text-2xl md:text-3xl bg-linear-to-r from-blue-700 to-blue-300 text-transparent bg-clip-text">
            Portfolio
        </div>

        <div class="flex flex-col md:flex-row gap-4 md:gap-6 mt-3 md:mt-0">
            <a href="#" class="px-2 py-1 menu-item border-blue-700 border-b-3">Home</a>
            <a href="#" class="px-2 py-1 menu-item">About</a>
            <a href="#" class="px-2 py-1 menu-item">Portfolio</a>
            <a href="#" class="px-2 py-1 menu-item">Contact</a>
        </div>

    </div>

</div>


{% endblock %}
{% block jsfile %}
    <script src="{% static 'js/header.js' %}"></script>
{% endblock %}