{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
    {% include 'header.html' %}

    <div class=" md:flex w-[80%] mx-auto justify-content-between mx items-center justify-center p-10 mt-10 gap-5 flex-row-reverse">
        <div class="md:w-[50%] flex justify-center mb-3">
           <img src="{% static 'images/user-icon.svg' %}" class=" w-[30%] h-[30%]">
        </div>

        <div class="md:w-[50%]">
            <div class="mb-4">
                <p class="text-3xl"><span>Hi, I'm</span> <span class="bg-linear-to-r from-blue-700 to-blue-300 text-transparent bg-clip-text">Manvesh</span><br></p>
                <p class="text-xl">Python Developer</p>
                <p class= "mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus qui alias corrupti debitis expedita fugit, consequuntur aliquid libero iste nesciunt laudantium totam quo minus officiis voluptate praesentium eum maxime ex.</p>
            </div>
            <div class="flex gap-3 mt-10">
                <div class=""> <a href=""><button class="hover:scale-110 duration-500 px-4 py-2 bg-linear-to-r from-blue-700 to-blue-400 text-white rounded-full">Hire Me</button></a></div>
                <div class="flex gap-2">
                     <a href="" class="hover:scale-125 duration-500"><img src="{% static 'images/github.png' %}" alt="" class="rounded-full size-10"></a>
                    <a href="" class="hover:scale-125 duration-500"><img src="{% static 'images/linkedin.png' %}" alt="" class="rounded-full size-10"></a>
                </div>   
            </div>
        </div>
    </div>
{% endblock %}