.sign-up-container {
    width:40%;
    background-color: rgba(253, 253, 253, 0.952);
    box-shadow: 0 0 6px 2px rgb(167, 165, 165);
}

.sign-up-heading {
    background-color: rgb(40, 40, 241);
    border-radius: 0px 0px 30px 30px;
}
.form-control:focus {
    box-shadow: 0 0 0 .20rem rgba(48, 48, 48, 0.356);
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .sign-up-container {
        width:60%;
    }
}
@media screen and (min-width : 300px) and (max-width : 600px){
    .sign-up-container {
        width:80%;
    }
}